body{
    min-height: 100vh;
    background-color: #f6f6f6;
    color: #4c4c53;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
}

a {
    color: inherit;
    font-size: inherit;
}

.acc-col { /* accent color */
    color: #C44900;
}

/*--- NAVIGATION BAR ---*/

/*--- Navigation bar (start) ---*/

header {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: sticky; top: 0;
    z-index: 999;
}

#name li, #name a {
    font-family: 'Poppins', sans-serif;
    color: #4c4c53;
    text-decoration: none;
}

#name {
    list-style: none;
    margin-bottom: -1.5rem;
}

#name:hover {
    cursor: pointer;
}

nav li, nav a {
    font-family: "Poppins", sans-serif;
    color: #737373;
    text-decoration: none;
}

nav ul {
    list-style: none;
}

ul#horizontal-bar .active {
    font-weight: bold;
} 

nav li {
    display: inline-block;
    padding: 0rem 1.5rem;
    color: #737373;
    text-decoration: none;
}

nav li a {
    transition: all 0.3s ease 0s;
}

nav li a:hover {
    font-weight: bold;
}

/* Navigation bar (end) */

/* Responsive navigation bar (start) */

.side-bar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 999;
    background-color: #ffffff;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.side-bar li {
    width: 100%;
}

.side-bar a {
    width: 100%;
}

.menu-button {
    display: none;
}

@media (max-width: 1000px) {
    .hide-on-mobile {
        display: none;
    }
    .menu-button {
        display: block;
    }
    header {
        flex-direction: row;
        align-items: center;
    }
    #name {
        margin-right: auto;
        margin-left: 1.5rem;
        margin-bottom: 0rem;
    }
}

/* Responsive navigation bar (end) */

/*--- PRESENTATION ---*/

.presentation {
    position: relative;
    display: block;
}

#headshot {
    position: relative; 
    top: 2rem;
    left: 15rem;
    z-index: 2; /* Set a higher z-index for headshot to bring it to the foreground */
    width: 180px;
    height: auto;
}

#pres-box {
    background-color: #ffffff;
    margin-top: -7rem; margin-bottom: 0rem;
    margin-left: 20rem; margin-right: 15rem;
    /*margin-top: 5rem; margin-bottom: 5rem;
    margin-left: 20rem; margin-right: 15rem;*/
    padding-top: 1rem; padding-bottom: 1rem; 
    padding-left: 6rem; padding-right: 2rem;
    border: solid 0.05rem;
    border-color: #9f9f9f;
    border-radius: 1rem;
    position: relative; /********/
    top: 2rem;
    left: 2rem;
    z-index: 1;
}

#my-title {
    font-size: 1.2rem;
}

#who-am-i {
    font-size: small;
    color: #4c4c53;
}


/*--- SECTIONS ---*/

/* Two-columns layout */

.two-col {
    clear: both;
    margin-left: 15rem; margin-right: 15rem;
    margin-top: 6rem;
}

.white-box {
    background-color: #ffffff;
    margin-bottom: 1rem;
    margin-left: 5rem; margin-right: 0rem;
    padding-left: 1.5rem; padding-right: 1.5rem;
    padding-top: 0.3rem; padding-bottom: 0.3rem;
    border: solid 0.05rem;
    border-color: #9f9f9f;
    border-radius: 1rem;
    top: 2rem;
    left: 2rem;
    z-index: 1;
    position: relative;
}

/* Images top right corner of the white box */
.white-box img {
    position: absolute;
    top: 1rem;
    right: 0;
    margin-bottom: inherit; margin-top: inherit;
    margin-left: inherit; 
    padding-left: inherit; padding-right: inherit;
    padding-top: inherit; padding-bottom: inherit;
}

.following-sect {
    margin-top: 6rem;
}

.anchor { /*so that the navbar does not hide the title when accessing with the link in the navbar*/
    scroll-margin-top: 140px;
}

/* Blocks font style and size */

.institution {
    font-size: small;
    color: #4c4c53;
}

.details {
    font-size: small;
    color: #737373;
}

.description {
    font-size: small;
    color: #4c4c53;
}

/*--- CONTACT ---*/

#contact {
    display: flex;
    margin-top: 1rem; margin-bottom: 5rem;
    justify-content: center;
}

#contact i { /* distance between contact icons and size */
    margin: 0 2rem;
    font-size: 1.5rem;
    cursor: pointer;
}


/*------------------*/
/*--- RESPONSIVE ---*/
/*------------------*/

/*--- PRESENTATION (responsive) ---*/

/* Responsive presentation (start) */

@media (max-width: 1050px) {
    #pres-box {
        margin-left: 15rem; 
        margin-right: 10rem;
    }
    #headshot {
        top: 2rem;
        left: 10rem;
        width: 180px;
        height: auto;
    }
}

@media (max-width: 880px) {
    #pres-box {
        margin-left: 10rem; 
        margin-right: 5rem;
    }
    #headshot {
        top: 2rem;
        left: 5rem;
        width: 180px;
        height: auto;
    }
}

@media (max-width: 730px) {
    #pres-box {
        margin-left: 5.7rem; 
        margin-right: 3rem;
    }
    #headshot {
        top: 2rem;
        left: 1rem;
        width: 180px;
        height: auto;
    }
}

@media (max-width: 475px) {
    #pres-box {
        margin-top: -3rem;
        margin-left: 1rem; 
        margin-right: 3rem;
        padding: 1rem 2rem;
    }
    #headshot {
        top: 1rem;
        left: 2rem;
        width: 130px;
        height: auto;
    }
}

/* Responsive presentation (end) */

/*--- SECTIONS (responsive) ---*/

/* Responsive sections (start) */

@media (max-width: 1050px) {
    .two-col {
        margin-left: 10rem;
        margin-right: 10rem;
    }
}

@media (max-width: 880px) {
    .two-col {
        margin-left: 5rem;
        margin-right: 5rem;
    }
}

@media (max-width: 730px) {
    .two-col {
        margin-left: 2rem;
        margin-right: 3rem;
    }
    .white-box {
        margin-left: 3.6rem;
    }
}

@media (max-width: 620px) { /*adjust margin so long title doesn't go under logo*/
    .long-title {
        margin-right: 10rem;
    }
}

@media (max-width: 550px) {
    .two-col {
        margin-left: 1rem;
        margin-right: 3rem;
    }
    .white-box {
        margin-left: 0rem;
    }
    .white-box > img { /*don't display the logo in the white box*/
        display: none;
    }
}

/* Responsive sections (end) */
