body{
    min-height: 100vh;
    background-color: #f4f2f2;
    /*background-color: #f6f6f6;*/
    color: #4c4c53;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
}

a {
    color: #4c4c53;
}

html {
    scroll-behavior: smooth;
} 

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

/*--- NAVIGATION BAR ---*/

/*--- Navigation bar (start) ---*/

header {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: sticky; top: 0;
    z-index: 999;
}

#name li, #name a {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 23pt;
    font-style: italic;
    /*color: #4c4c53;*/
    color: #879A76;
    text-decoration: none;
}

#name {
    list-style: none;
    margin-bottom: 0rem;
}

#name:hover {
    cursor: pointer;
}

nav li, nav a {
    font-family: "Poppins", sans-serif;
    color: #4c4c53;
    opacity: 0.8;
    transition: 0.5s;
    text-decoration: none;
}

nav ul {
    list-style: none;
}

ul#horizontal-bar .active {
    opacity: 1;
} 

nav li {
    display: inline-block;
    padding: 0rem 1.5rem;
    color: #4c4c53;
    opacity: 0.8;
    transition: 0.5s;
    text-decoration: none;
}

nav li a:hover {
    opacity: 1;
}

/* Navigation bar (end) */

/* Responsive navigation bar (start) */

.side-bar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 999;
    background-color: #ffffff;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.side-bar li {
    width: 100%;
}

.side-bar a {
    width: 100%;
}

.menu-button {
    display: none;
}

@media (max-width: 1000px) {
    .hide-on-mobile {
        display: none;
    }
    .menu-button {
        display: block;
    }
    header {
        flex-direction: row;
        align-items: center;
    }
    #name {
        margin-right: auto;
        margin-left: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

/* Responsive navigation bar (end) */

/* Text (start) */

.text {
    width: 65%;
    margin: auto;
}

.authors {
    color: #737373;
}

.authors > em {
    font-size: small;
}

/* Text (end) */

/* Image (start) */

.image {
    width: 100%;
}

/* Image (end) */

/*--- FOOTER ---*/

footer {
    background-color: #ffffff;
    width: 100%;
}

.footer-container {
    padding: 0;
    margin: 6rem 0 0 0;
    box-sizing: border-box;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    text-decoration: none;
    padding: 8px;
    background-color: #4c4c53;
    margin: 1.5rem;
    border-radius: 50%;
    text-align: center;
    line-height: 8px;
}

.social-icons a i {
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
}

.social-icons a:hover {
    background-color: #ffffff;
    transition: 0.5s;
}

.social-icons a:hover i {
    color: #4c4c53;
    transition: 0.5s;
}

.footer-nav {
    margin: 0px 0 30px 0;
}

.footer-nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    font-size: small;
}

.footer-nav ul li a {
    margin: 20px;
    text-decoration: none;
    color: #737373;
    opacity: 0.7;
    transition: 0.5s;
}

.footer-nav ul li a:hover {
    opacity: 1;
}

.footer-bottom {
    text-align: center;
    color: #737373;
    padding-bottom: 0.5rem;
}


/*------------------*/
/*--- RESPONSIVE ---*/
/*------------------*/

@media (max-width: 1000px) {
    .text{
        width: 80%;
    }
}

/*--- FOOTER (responsive) ---/*

/* Responsive footer (start) */

@media (max-width: 780px) {
    .footer-nav ul {
        flex-direction: column;
    }
    .footer-nav ul li {
        text-align: center;
        margin: 5px;
    }
}

/* Responsive footer (end) */